<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Article</title>
</head>
<body>
    <h1>New Article</h1>
    <input type="text" id="title" placeholder="Title"> <br>
    <input type="number" id="reading_time" placeholder="Reading Time" min="1" required> <br>
    <textarea id="content" placeholder="Content"></textarea>
    <button id="submit">Submit</button>
    <button id="list" id="list">Get the list of all articles</button>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var article = {title:"", content:"", reading_time:""};
        $('#submit').click(function(event){
            article.title = $('#title').val();
            article.content = $('#content').val();
            article.reading_time = $('#reading_time').val();
            console.log(article)
            $.ajax({
                method: "POST",
                url:"/article/create",
                data: article
            }).done(function(response){
                console.log(response);
            }).fail(function(response){
                console.log(response.responseText);
            });
        });
        
        $('#list').click(function(event){
            $.ajax({
                method: "GET",
                url:"/article/list"
            }).done(function(response){
                console.log(response);
            }).fail(function(response){
                console.log(response.responseText);
            });
        });
    </script>

</body>
</html>